#article{
    /* color: orangered; */
    padding: 5%;
    width: 40%;
    box-shadow: 0 8px 6px -6px rgb(188, 188, 188);
    /* border: 1px solid rgb(188, 188, 188);
    border-radius: 12px; */
}

#article-top{
    height: 60%;
}

#article-bottom{
    height: 40%;
}