.jumbo {
    /* background-color: #F2F2F2 !important; */
    background-color: transparent !important;
    box-shadow: 0 8px 6px -6px rgb(188, 188, 188);
    /* padding-top: 20px; */
}

.text {
    margin-top: 5px;
}

.jumbo button {
    margin: 10px;
}

/* #left {
    width: 40%;
}

#right {
    width: 40%;
} */

#focus_field {
    outline: none;
    width: 300px;
}

.jumbo .text_slant {
    font-size: 13px;
    float: right;
}


#media_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 