.jumbo {
    /* background-color: #F2F2F2 !important; */
    background-color: transparent !important;
    box-shadow: 0 8px 6px -6px rgb(188, 188, 188);
    padding-top: 20px;
}

.text {
    margin-top: 5px;
}

.jumbo button {
    float: right;
    margin: 10px;
    outline: none;
}

.jumbo button:focus{
    outline: none;
}

#focus_field {
    outline: none;
    width: 350px;
}

.jumbo .text_slant {
    font-size: 13px;
    float: right;
}
