#whiteboard{
    /* color: purple; */
    /* width: 30%; */
    padding: 5%;
    width: 40%;
    box-shadow: 0 8px 6px -6px rgb(188, 188, 188);
}

#whiteboard-top{
    height: 30%;
}

#whiteboard-bottom{
    height: 70%;
}

#board {
    color: #7F7F7F;
}