body {
  background-image: url(./Images/lilypads.png);
}

p {
  border: 1px solid black;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.components {
  display: flex;
  flex-direction: row;
}


#left, #right, #center  {
  width: calc(100% / 3);
}
