body {
  background-image: url(./Images/lilypads.png);
}

button {
  outline: none;
}

.components {
  display: flex;
  flex-direction: row;
}


#left, #right, #center  {
  /* width: calc(100% / 3); */
  height: 50vh;
  box-shadow: 0 8px 6px -6px rgb(188, 188, 188);
}
